name: CD Pipeline

on:
  workflow_dispatch:
    inputs:
      environment:
        type: choice
        required: true
        description: Deployment Environment
        default: dev
        options:
          - dev
          - sit
          - stag
          - prod

  workflow_run:
    workflows: ["CI Pipeline"]
    types:
      - completed

permissions:
  contents: write
  id-token: write

jobs:
  determine-env:
    name: Determine Deployment Environment
    runs-on: prod-runner-linux

    outputs:
      environment: ${{ steps.set-env.outputs.environment }}
      branch: ${{ steps.set-env.outputs.branch }}

    steps:
      - name: Set Environment
        id: set-env
        run: |
          if [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
            echo "environment=${{ github.event.inputs.environment }}" >> $GITHUB_OUTPUT
            echo "branch=${{ github.ref_name }}" >> $GITHUB_OUTPUT
          else
            BRANCH="${{ github.event.workflow_run.head_branch }}"
            echo "branch=$BRANCH" >> $GITHUB_OUTPUT

            if [ "$BRANCH" = "develop" ]; then
              echo "environment=dev" >> $GITHUB_OUTPUT
            elif [ "$BRANCH" = "release" ]; then
              echo "environment=sit" >> $GITHUB_OUTPUT
            else
              echo "environment=dev" >> $GITHUB_OUTPUT
            fi
          fi
